/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/deployment.xml
/.idea/modules.xml
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/mysql.osA4Bg.zip
/.idea/php.xml
/.idea/untitled.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/database3.GB556g.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/database4.GR556g.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/register.oy7c1g.meta
/.idea/sqldialects.xml
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/student.O4L-jw.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/student1.VsXRbw.meta
/.idea/dataSources/c4dff7a5-4284-468d-99cb-f95c13c5c5d2/storage_v2/_src_/schema/uhv6.U8Q2AA.meta
